<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mybatis.mapper.StudentMapper">
    <resultMap id="stu" type="student">
        <result column="s_id" jdbcType="VARCHAR" property="sId"/>
        <result column="s_name" jdbcType="VARCHAR" property="sName"/>
        <result column="s_birth" jdbcType="VARCHAR" property="sBirth"/>
        <result column="s_sex" jdbcType="VARCHAR" property="sSex"/>
    </resultMap>
    <select id="selectStudent" parameterType="string" resultMap="stu">
        select *
        from Student
        where s_id = #{id}
    </select>

    <resultMap id="stu2" type="studentWithEnum">
        <result column="s_id" jdbcType="VARCHAR" property="sId"/>
        <result column="s_name" jdbcType="VARCHAR" property="sName"/>
        <result column="s_birth" jdbcType="VARCHAR" property="sBirth"/>
        <!--自动映射器（auto-mapper）会自动地选用 EnumOrdinalTypeHandler 来处理，
        所以如果我们想用普通的 EnumTypeHandler，就必须要显式地为那些 SQL 语句设置要使用的类型处理器。-->
        <result column="s_sex" property="sSex" typeHandler="com.mybatis.handler.EnumTypeHandler"/>
    </resultMap>
    <select id="selectForEnum" resultType="studentWithEnum">
        select *
        from Student
        where s_id = '07'
    </select>
</mapper>